/*****************************************************************/
/* 5grid 0.4 by n33.co | MIT+GPLv2 license licensed              */
/* core.css: Core stylesheet                                     */
/*****************************************************************/

/**************************************************/
/* Resets (by meyerweb.com/eric/tools/css/reset/) */
/**************************************************/

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*********************/
/* Grid              */
/*********************/

	.\35 grid .\31 2u { width: 100%; } .\35 grid .\31 1u { width: 91.5%; } .\35 grid .\31 0u { width: 83%; } .\35 grid .\39 u { width: 74.5%; } .\35 grid .\38 u { width: 66%; } .\35 grid .\37 u { width: 57.5%; } .\35 grid .\36 u { width: 49%; } .\35 grid .\35 u { width: 40.5%; } .\35 grid .\34 u { width: 32%; } .\35 grid .\33 u { width: 23.5%; } .\35 grid .\32 u { width: 15%; } .\35 grid .\31 u { width: 6.5%; }
	
	.\35 grid .\31 u, .\35 grid .\32 u, .\35 grid .\33 u, .\35 grid .\34 u, .\35 grid .\35 u, .\35 grid .\36 u, .\35 grid .\37 u, .\35 grid .\38 u, .\35 grid .\39 u, .\35 grid .\31 0u, .\35 grid .\31 1u, .\35 grid .\31 2u {
		margin: 1% 0 1% 2%;
		float: left;
	}

	.\35 grid:after {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.\35 grid-flush .\31 2u { width: 100% !important; } .\35 grid-flush .\31 1u { width: 91.6666666667% !important; } .\35 grid-flush .\31 0u { width: 83.3333333333% !important; } .\35 grid-flush .\39 u { width: 75% !important; } .\35 grid-flush .\38 u { width: 66.6666666667% !important; } .\35 grid-flush .\37 u { width: 58.3333333333% !important; } .\35 grid-flush .\36 u { width: 50% !important; } .\35 grid-flush .\35 u { width: 41.6666666667% !important; } .\35 grid-flush .\34 u { width: 33.3333333333% !important; } .\35 grid-flush .\33 u { width: 25% !important; } .\35 grid-flush .\32 u { width: 16.6666666667% !important; } .\35 grid-flush .\31 u { width: 8.3333333333% !important; }

	.\35 grid-flush .\31 u, .\35 grid-flush .\32 u, .\35 grid-flush .\33 u, .\35 grid-flush .\34 u, .\35 grid-flush .\35 u, .\35 grid-flush .\36 u, .\35 grid-flush .\37 u, .\35 grid-flush .\38 u, .\35 grid-flush .\39 u, .\35 grid-flush .\31 0u, .\35 grid-flush .\31 1u, .\35 grid-flush .\31 2u {
		margin: 0 !important;
	}

	.do-5grid .do-12u { width: 100%; } .do-5grid .do-11u { width: 91.5%; } .do-5grid .do-10u { width: 83%; } .do-5grid .do-9u { width: 74.5%; } .do-5grid .do-8u { width: 66%; } .do-5grid .do-7u { width: 57.5%; } .do-5grid .do-6u { width: 49%; } .do-5grid .do-5u { width: 40.5%; } .do-5grid .do-4u { width: 32%; } .do-5grid .do-3u { width: 23.5%; } .do-5grid .do-2u { width: 15%; } .do-5grid .do-1u { width: 6.5%; }
	
	.do-5grid .do-1u, .do-5grid .do-2u, .do-5grid .do-3u, .do-5grid .do-4u, .do-5grid .do-5u, .do-5grid .do-6u, .do-5grid .do-7u, .do-5grid .do-8u, .do-5grid .do-9u, .do-5grid .do-10u, .do-5grid .do-11u, .do-5grid .do-12u {
		margin: 1% 0 1% 2%;
		float: left;
	}

	.do-5grid:after {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.do-5grid-flush .do-12u { width: 100%; } .do-5grid-flush .do-11u { width: 91.6666666667%; } .do-5grid-flush .do-10u { width: 83.3333333333%; } .do-5grid-flush .do-9u { width: 75%; } .do-5grid-flush .do-8u { width: 66.6666666667%; } .do-5grid-flush .do-7u { width: 58.3333333333%; } .do-5grid-flush .do-6u { width: 50%; } .do-5grid-flush .do-5u { width: 41.6666666667%; } .do-5grid-flush .do-4u { width: 33.3333333333%; } .do-5grid-flush .do-3u { width: 25%; } .do-5grid-flush .do-2u { width: 16.6666666667%; } .do-5grid-flush .do-1u { width: 8.3333333333%; }

	.do-5grid-flush .do-1u, .do-5grid-flush .do-2u, .do-5grid-flush .do-3u, .do-5grid-flush .do-4u, .do-5grid-flush .do-5u, .do-5grid-flush .do-6u, .do-5grid-flush .do-7u, .do-5grid-flush .do-8u, .do-5grid-flush .do-9u, .do-5grid-flush .do-10u, .do-5grid-flush .do-11u, .do-5grid-flush .do-12u {
		margin: 0 !important;
	}

/*********************/
/* Mobile            */
/*********************/

	#mobileUI-site-titlebar {
		text-align: center;
	}
	
	#mobileUI-site-nav-opener {
		top: 0;
		left: 0;
	}
	
	#mobileUI-site-nav {
	}

		#mobileUI-site-nav-inner {
		}
	
		.mobileUI-site-nav-link {
			display: block;
		}
	
		.mobileUI-site-nav-link .indent-1 { display: inline-block; width: 1em; }
		.mobileUI-site-nav-link .indent-2 { display: inline-block; width: 2em; }
		.mobileUI-site-nav-link .indent-3 { display: inline-block; width: 3em; }
		.mobileUI-site-nav-link .indent-4 { display: inline-block; width: 4em; }
		.mobileUI-site-nav-link .indent-5 { display: inline-block; width: 5em; }
		.mobileUI-site-nav-link .indent-6 { display: inline-block; width: 6em; }
		.mobileUI-site-nav-link .indent-7 { display: inline-block; width: 7em; }
		.mobileUI-site-nav-link .indent-8 { display: inline-block; width: 8em; }
		.mobileUI-site-nav-link .indent-9 { display: inline-block; width: 9em; }
		.mobileUI-site-nav-link .indent-10 { display: inline-block; width: 10em; }
		
		
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
  .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;